[Desktop Entry]
Name=Hello
GenericName=Hello App
Comment=Proves that we can use Vala and Gtk
Categories=Utility;Education;
Exec=com.github.devlinarptiw.eOS
Icon=com.github.devlinarptiw.eOS
Terminal=false
Type=Application
Keywords=Hello;World;Example;

